<div class="row">
  <div class="span5">
    

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, html: {class: "well"}) do |f| %>
        <%= devise_error_messages! %>

        <fieldset>
          <legend>Edit <%= resource_name.to_s.humanize + " - " + @user.full_name%></legend>
          <!--changed by dave to simple form format-->
          <%= f.input :email, placeholder: 'user@domain.com' %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <%= f.input :password, :autocomplete => "off" %> <i>(leave blank if you don't want to change it)</i></h5><br />
          

          <%= f.input :password_confirmation %>
          

          <%= f.input :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          

          <%= f.button :submit, class: "btn  btn-warning" %>
        </fieldset>
      <% end %>


    <fieldset class="well">
      <h4>Cancel my account</h4>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

      <%= link_to "Back", :back %>
    </fieldset>
  </div>
</div>
