<div class="row-fluid">
  <div class = "span4 well height800">
    
      <div class="on_cow"><legend>All FestBook Posts</legend></div>
    

    <%= link_to "Post a New Status", new_status_path, class: "btn btn-success" %>
    <br /><br />

    <% @statuses.each do |status| %>
      <div class="status">
        <p class="white"><%= status.user.full_name %></p>
        <textarea class= "d_wrap"><%= status.content.to_s %></p></textarea>
        <div class="meta">
            <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
            <span class="admin">
              | <%= link_to "Edit", edit_status_path(status) %> |
              <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
            </span>
        </div>
      </div><br />
    <% end %>
  </div>

  <div class = "span8 well height800">
  </div>
</div>
