<div class="row">
  <div class = "span4 well height1100">
    <div class="page-header">
      <legend>All Posts</legend>
    </div>

    <%= link_to "Post a New Status", new_status_path, class: "btn btn-warning" %>

    <% @statuses.each do |status| %>
      <div class="status">
        <strong><%= status.user.full_name %></strong>
        <textarea class= "d_wrap"><%= status.content.to_s %></p></textarea>
        <div class="meta">
            <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
            <span class="admin">
              | <%= link_to "Edit", edit_status_path(status) %> |
              <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
            </span>
        </div>
      </div>
    <% end %>
  </div>

  <div class = "span7 well height1100">
  </div>
</div>