<div class="row-fluid">
	<div class="span4 well height800">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<fieldset>
		<legend>Sign in to Tannerfest</legend>
		<div class="status">
		  <div class="white"><%= f.input :email %></div>
		  <div class="white"><%= f.input :password %></div>
		  	<div><% if devise_mapping.rememberable? -%></div>
		    <div class="white"><%= f.input :remember_me, as: :boolean %></div>
		  <% end -%>
		</div><br /><br />

	  <%= f.button :submit, "Sign in", :class=>"btn btn-success"%>
	</fieldset>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
	<div class="span8 well height800">
		<h2>Signing in is easy and secure</h2>
	</div>
</div>
