<!DOCTYPE html>
<html>
<head>
  <title>Festbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
  			<div class = "span12 well page-header">
    			<div class = "span4 t_logo">
      				<img class="t_logo" src="/assets/logo.png"/>
    			</div>

    			<div class="span6 outer">
    				<div class="marquee">
						<p class="scroller">Date for Tannerfest 2014 announced!! July 12th....</p>
					</div>
    			</div>

    			<div class="span2">
    				<img class="cow" src="/assets/barry.jpg"/>
    			</div>

    			
    		</div>
  		</div>
	
		<div class=" navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Tannerfest 2014</a>
				    <ul class="nav">
				      <li><%= link_to "All Statuses", statuses_path %></li>
				    </ul>
				    <ul class="nav pull-right">
				    	<% if user_signed_in? %>
				    		<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
				    		<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
				    	<% else %>
				    		<li><%= link_to "Register", new_user_registration_path %></li>
				    		<li><%= link_to "Log in", new_user_session_path %></li>
				    	<% end %>
					</ul>
				</div>
			</div>
		</div>
		<% flash.each do |type, message|%>
			<div class="alert <%= flash_class type %>">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= message %>
			</div>
		<% end %>
		<div class="container-inner">
	
			<%= yield %>
		</div>
    </div>
</body>
</html>
